<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

<connectionStrings>
    <add name="ConnectionString" connectionString="XpoProvider=MSSqlServer;data source=gds-pc35;user id=sa;password=#PchUser01;initial catalog=FacilityInfo_Data;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Fi.Import" />
    <add key="MailServer" value="mx.gds-hosting.net" />
    <add key="Port" value="25" />
    <add key="Recipient" value="peisl@gdsinfo.de" />
    <add key="Absender" value="facilityinfo@smarthost.de" />
    <add key="Betreff" value="Buchungslauf" />
    <add key="userName" value="facilityinfo@smarthost.de" />
    <add key="password" value="Ys33hu?0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.3.0" newVersion="18.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.3.0" newVersion="18.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.BaseImpl.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.3.0" newVersion="18.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.3.0" newVersion="18.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.AuditTrail.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.3.0" newVersion="18.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
